body{
    display: flex;
    position: relative;
    flex-direction: column;
}

#game-page{
    justify-content: space-evenly;
}

#start-page,
#name-page,
#game-page,
#paused-page,
#result-page{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}


#start-page,
#name-page,
#result-page{
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    font-size: 50px;
}

#name-page,
#game-page,
#paused-page,
#result-page{
    display: none;
}


/* top */
#info-board{   
    
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}


#name-board,
#score-board,
#time-board{
    
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    
}

.row{
    display: flex;
    justify-content: center;
}

.row-center{
    display: flex; 
    justify-content: space-between
}

#top, #left, #right, #bottom{
    display: inline-block;
    height: 83px;
    width: 90px;
    /*border: solid 2px black;*/
    margin: 1px 40px;
}

.hole{
    /* box image*/
    background-image: url('img/paperbox-img_resize.png');
    background-size: cover;
}

.filled-hole{
    background-color: transparent;
    background-image: url('img/lilu.png');
    background-size: cover;
}

#start-button,
#again-button{
    width: 100px;
    height: 60px;
    font-size: 17px;
}

#pause-button,
#restart-button{
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    transform: translateX(-50%);
    display: none;
    margin: auto;
    width: 70px;
    height: 40px;
    font-size: 17px;
}

#result-board{
    margin-bottom: 30px;
}

#total-score{
    font-size: 30px;
    color: #ff6060;
}