body{
    display: flex;
    position: relative;
    flex-direction: column;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

#start-page,
#name-page,
#game-page,
#paused-page,
#result-page{
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

#start-page{
    justify-content: space-around;
    background-image: url('img/start_bg.jpg');
    background-size: cover;
}

#paused-page{
    justify-content: space-evenly;
    background-image: url('img/paused_bg.jpg');
    background-size: cover;
}

#result-page{
    justify-content: space-evenly;
    background-image: url('img/result_bg.jpg');
    background-size: cover;
}

#name-page{
    justify-content: center;
}

#game-page{
    justify-content: space-evenly;
}

#start-page,
#name-page,
#result-page{
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    font-size: 60px;
    font-family: 'PyeongChangPeace-Bold';
    color: white;
}

#name-page,
#game-page,
#paused-page,
#result-page{
    display: none;
}

#name-page p{
    font-size: 25px;
    font-family: 'PyeongChangPeace-Bold';
}

#name-page input{
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* top */
#info-board{   
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}


#name-board,
#score-board,
#time-board{
    font-family: 'PyeongChangPeace-Bold';
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    
}

.row{
    display: flex;
    justify-content: center;
}

.row-center{
    display: flex; 
    justify-content: space-between
}

#top, #left, #right, #bottom{
    display: inline-block;
    height: 83px;
    width: 90px;
    /*border: solid 2px black;*/
    margin: 1px 40px;
}

.hole{
    /* box image*/
    background-image: url('img/paperbox-img_resize.png');
    background-size: cover;
}

.filled-hole{
    background-color: transparent;
    background-image: url('img/lilu.png');
    background-size: cover;
}

#start-button,
#again-button,
#name-button{
    width: 100px;
    height: 50px;
    font-size: 17px;
    background-color: transparent;
    font-family: 'PyeongChangPeace-Bold';
    border-radius: 12px;
}

#start-button{
    font-size: 22px;
}

#pause-button,
#restart-button{
    justify-content: center;
    align-items: center;
    display: none;
    margin: auto;
    width: 80px;
    height: 40px;
    font-size: 15px;
    background-color: transparent;
    font-family: 'PyeongChangPeace-Bold';
    border-radius: 12px;
}

#pause-button{
    background-color: #ecc47a;
}

#result-board{
    margin-bottom: 30px;
}

#total-score{
    font-size: 40px;
    color: #ecc47a;
    font-family: 'PyeongChangPeace-Bold';
}

a{
    font-family: 'PyeongChangPeace-Bold';
}