body{
    display: flex;
    position: relative;
    flex-direction: column;
}

#start-page,
#name-page,
#game-page,
#paused-page,
#result-page{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}


#start-page,
#name-page,
#result-page{
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    font-size: 50px;
}

#name-page,
#game-page,
#paused-page,
#result-page{
    display: none;
}

#game-page{
    justify-content: space-evenly;
}

/* top */
#info-board{   
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: auto;

}


#name-board,
#stage-board,
#time-board{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    
}

.row{
    display: flex;
    justify-content: center;
}

.row-center{
    display: flex; 
    justify-content: space-between
}

#top, #left, #right, #bottom{
    display: inline-block;
    height: 70px;
    width: 70px;
    border: solid 2px black;
    margin: 1px 40px;
}

.empty-hole{
    background-color: black;
    /* box image*/
}

.filled-hole{
    background-image: url('./img/cat.png.png');
    /* Lilu image*/
    background-size: cover;
}

#start-button,
#again-button{
    width: 100px;
    height: 60px;
}

#pause-button,
#restar-button{
    position: absolute;
    justify-content: center;
    bottom: 30px;
    transform: translateX(-50%);
    display: none;
    margin: auto;
}

#score-board{
    margin-bottom: 20px;
}

#total-score{
    font-size: 30px;
    color: #ff6060;
}